<div class="dashboard-container">
  <mat-sidenav-container class="example-container">
    <mat-sidenav
      #sidenav
      mode="over"
      [opened]="opened"
      (opened)="events.push('open!')"
      (closed)="events.push('close!')"
    >
      <mat-list>
        <mat-list-item> Hello {{ username }} </mat-list-item>
      </mat-list>
      <mat-action-list class="sidebar-list">
        <button mat-list-item (click)="cardClick('Dashboard', sidenav)">
          Dashboard
        </button>
        <button mat-list-item (click)="navigate('projects', sidenav)">
          Projects
        </button>
        <button mat-list-item (click)="navigate('users', sidenav)">
          Users
        </button>
        <button mat-list-item (click)="navigate('users', sidenav)">
          Requests
        </button>
      </mat-action-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          (click)="sidenav.toggle()"
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <span>Dashboard</span>
        <span class="example-spacer"></span>
        <button
          mat-icon-button
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
          (click)="logout()"
        >
          <mat-icon>logout</mat-icon>
        </button>
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with share icon"
        >
          <mat-icon>person</mat-icon>
        </button>
      </mat-toolbar>
      <div class="dashboard-main" *ngIf="currentPage == 'Dashboard'">
        <div class="dash-cards">
          <mat-card
            class="example-card"
            (click)="cardClick('projects', sidenav)"
          >
            <mat-card-title-group>
              <mat-card-title>Explore all Projects</mat-card-title>
            </mat-card-title-group>
            <mat-card-content> </mat-card-content>
          </mat-card>
          <mat-card class="example-card" (click)="cardClick('users', sidenav)">
            <mat-card-title-group>
              <mat-card-title>Manage Users</mat-card-title>
            </mat-card-title-group>
            <mat-card-content> </mat-card-content>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-title-group>
              <mat-card-title>Pending Requests</mat-card-title>
            </mat-card-title-group>
            <mat-card-content> </mat-card-content>
          </mat-card>
        </div>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
