.example-spacer {
  flex: 1 1 auto;
}
.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}
.sidebar-list {
  width: 200px;
}
.dash-cards{
  /* padding: 30px; */
  margin-top: 30px;
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  justify-content: space-evenly;
}
.example-card {
  width: 400px;
  /* max-width: 450px; */
  margin-bottom: 8px;
  cursor: pointer;
  /* margin: 10px; */
}