
.bulk-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

}
.title{
    font-size: 17px;
    font-weight: 500;
    margin: 0 auto;
    margin-bottom: 20px;
}
.file-name{
    font-weight: 500;
    margin: 0;
    margin-right: 10px;
}
.file-upload{
    display: flex;
    justify-content: center;
    align-items: center;
}
.file-input {
    display: none;
    justify-content: center;
    margin: 0;
}
.upload{
    margin: 0 auto;
    margin-top: 20px;
    width: 70%;
}